.default-button {
  background: var(--color-primary-300);
  color: var(--color-text-light);
  border: 1px solid var(--color-primary-300);
}

.danger-button {
  background: var(--color-danger);
  color: var(--color-text-light);
  border: 1px solid var(--color-danger);
}

.unfilled-button {
  background: transparent;
  color: var(--color-text);
}

.disabled-button {
  opacity: 0.6;
}
